<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Thriver: A Wellness Tracker</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'index'   %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <div id="background-image">
    <body>
      <div>
        <header class="row">
          <h1 class="thriver"><%= link_to "Thriver", root_path %></h1><span id="subheader" class="large-2 columns"><%= link_to "A Wellness Tracker", root_path %></span>
        </header>
      </div>
      <div class="sign-in">
        <nav class="top-bar" data-topbar role"navigation">
          <section class="top-bar-section">
             <ul class="right">
               <% if user_signed_in? %>
                 <li class="has-dropdown">
                   <a href="#">See All Entries</a>
                   <ul class="dropdown">
                       <% user = current_user.id %>
                       <li><%= link_to "Goals", goals_path %></li>
                       <li><%= link_to "Journal Entries", journals_path %></li>
                       <li><%= link_to "Emotion Ratings", user_emotions_path %></li>
                   </ul>
                 </li>
                 <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
                 <% else %>
                 <%= link_to "Log In", new_user_session_path %>/
                 <%= link_to "Sign Up", new_user_registration_path %>
               </ul>
             <% end %>

             <ul class="left">

             </ul>
           </section>
          </nav>


        </nav>
      </div>
      <div class="flash">
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>
      <div id="app">
      </div>
      <div id="server-side">
        <%= yield %>
      </div>
    </body>
  </div>
</html>
