<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Thriver: A Wellness Tracker</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag    'application' %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <header class="row">
    <h1>Thriver</h1><span class="large-2 columns">A Wellness Tracker</span>
  </header>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="row">
      <nav>
        <ul>
          <%= link_to 'Sign Up', new_user_registration_path %>
        </ul>
      </nav>
    </div>
    <div id="app" class="container">
    <%= yield %>
  </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
